{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery — DogBreedAI{% endblock %}

{% block content %}

<h1 class="text-4xl font-bold mb-8 text-center">Dog Breed Gallery</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {% for img, label in images_with_labels %}
    <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition p-4 flex flex-col items-center">
        <img src="{% static 'images/model_images/train/' %}{{ img }}" alt="Dog Image" class="rounded-lg w-full h-48 object-cover mb-4">
        <div class="text-center">
            <h2 class="font-semibold text-lg text-indigo-700 truncate">Breed: {{ label|join:', ' }}</h2>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
